/* .home-screen-container-div{
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: red;
}

.contact-screen-container-div{
    width: 30vw;
    height: 100vh;;
}

.chat-screen-container-div{
    width: 60vw;
    height: 100vh;
} */
